.pokemon-list-item {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgreen; /* Add light green line to separate buttons */
    padding-bottom: 5px; /* Add padding to the bottom of each button */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-active {
    display: flex;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}